<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Browser Message Service</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>Would you please text someone ?</h1>
    </header>
    <section>
      <form class="" action="index.html" method="post">
        <input type="tel" name="number" required>
        <input type="text" name="text">
        <input type="button" value="Send SMS">
      </form>
    </section>
    <p class="response"></p>
  </body>
</html>
